@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --contrast: #000;
    --primary: 188deg 56% 52%;
    --border: #424242;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  *:focus-visible {
    outline: none;
  }
  html {
    border-color: theme(colors.border);
    color: theme(colors.contrast);
    background-color: theme(colors.background);
    -webkit-tap-highlight-color: transparent;
    outline-color: transparent;
  }
  body {
    overflow-y: scroll;
  }
  a,
  button {
    cursor: pointer;
    user-select: none;
  }
  input,
  a,
  button {
    @apply ring-white ring-offset-0 focus-visible:ring-2;
  }

  img,
  video {
    display: block;
    width: 100%;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
  }

  body {
    @apply scrollbar scrollbar-track-transparent scrollbar-thumb-slate-500 scrollbar-thumb-rounded-[100px] scrollbar-w-[16px] hover:scrollbar-thumb-slate-400;
    @screen lg {
      overflow-y: scroll;
    }
  }
  body::-webkit-scrollbar-thumb {
    @apply border-4 border-solid border-transparent bg-clip-padding;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}

@layer components {
  .base-container {
    @apply mx-auto box-border block w-full max-w-screen-lg px-6;
  }

  .background {
    @apply bg-background backdrop-blur-xl backdrop-saturate-150;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .inset-0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .sr-only + * {
    @apply !mt-0;
  }

  .animate-in,
  .animate-out {
    animation-fill-mode: both;
  }
}

[data-theme='dark'] {
  --contrast: #fff;
  --background: 240 10% 3.9%;
  --border: 240 3.7% 15.9%;
}
